<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
                <head>
                        <meta charset="utf-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="${'./css/bootstrap.min.css'}"/>
                        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="${'./css/style.css'}"/>
                        <link rel="icon" href="../static/images/favicon.png" th:href="${'./images/favicon.png'}">
                        <title>Mystery EShop</title>
                    </head>
                    
                    <body>
                    
                    <div class="float-right">
                            <a href="./Contacts" ><img class="logo" src="./images/logo.jpg" alt="main page logo" width="500" height="150"/></a>
                        </div>
                    
                        <div class="container" id="top-buttons"> 
                            <div class="row">
                                 <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Welcome'" value="Main" />        
                                 <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Survey'" value="Survey" />
                                 <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Profile'" value="Your Profile" />
                                 <input type="button" class="btn btn-success btn-lg mr-5" onclick="location.href ='./EShop'" value="EShop" />
                                 <input type="button" class="btn btn-danger btn-lg mr-5" disabled onclick="location.href ='./Admin'" value="Admin" />
                            </div>
                    </div>

                    

<div class="container w-50">
    
    <form method="post"> 
        
      
        <font size="6">List of all filled surveys </font>
        <input type="submit" name="showAll" value="show all" class="btn btn-primary btn-sm"/>
         
    </form> 
        <table class="table table-hover table-primary">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Link</th>
                    <th scope="col">Options</th>
                  </tr>
                </thead>
                <tbody>
                     <tr th:each="profile: ${profiles}">
                        <td th:text="${profile.playerId}">1234</td> 
                        <td th:text="${profile.playerName}">Robert</td> 
                        <td>
                          <a th:href="${'Profile/' + profile.playerId +'.html'}"
                              href="profile.html" class="button"><strong>More details</strong> </a> 
                        </td>
                        <td>
                            <form th:action="${profile.playerId + '.html'}" method="post">
                                
                                <input type="submit" name="delete" value="Delete profile" class="btn btn-danger btn-sm "/>
                            </form>
                        </td>

                      
                        
                    </tr>
                   
                  
                  
                  
                </tbody>
              </table>
    
</div>




<script src="../static/js/bootstrap.min.js"></script>
</body>


</html>