<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
                <head>
                        <meta charset="utf-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="${'./css/bootstrap.min.css'}"/>
                        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="${'./css/style.css'}"/>
                        <link rel="icon" href="../static/images/favicon.png" th:href="${'./images/favicon.png'}">
                        <title>Mystery EShop</title>
                    </head>
                    
                    <body>
                    
                    <div class="float-right">
                            <a href="./Contacts" ><img class="logo" src="./images/logo.jpg" alt="main page logo" width="500" height="150"/></a>
                        </div>
                    
                        <div class="container" id="top-buttons"> 
                            <div class="row">
                                 <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Welcome'" value="Main" />        
                                 <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Survey'" value="Survey" />
                                 <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Profile'" value="Your Profile" />
                                 <input type="button" class="btn btn-success btn-lg mr-5" onclick="location.href ='./EShop'" value="EShop" />
                                 <input type="button" class="btn btn-danger btn-lg mr-5" disabled onclick="location.href ='./Admin'" value="Admin" />
                            </div>
                    </div>

                    

<div class="container">
  <form th:object="${resultDTO}" method="post">
  <div>
    <h3 th:text="'Player name: ' + ${profile.playerName}">Player name: Nameless</h3>
</div>
  <div>
    <h3>Your time credit: <span style="font-size:30px" th:text="${profile.timeReserve} + ' hours'">111 hours</span>
      <span style="float:right">
        <input class="btn btn-success btn-rounded z-depth-1" type="submit" value="Buy all"/>
      </span></h3>
  </div>
  
        <table class="table table-hover table-primary">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Name</th>
                    <th scope="col">Level</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Order</th>
                  </tr>
                </thead>
                <tbody>
                     <!-- <tr th:each="ability : ${abilities}">
                        <td th:text="${ability.id}">1</td> 
                        <td th:text="${ability.Picture}">picture.jpg</td>
                        <td th:text="${ability.Name}">Ability name</td>
                        <td th:text="${ability.Level}">Ability name</td>
                        <td th:text="${ability.Description}">Description of an ability</td>
                        <td th:text="${ability.Price}">12h</td>
                        <td><input name="obtained" type="checkbox"/></td>
                    </tr> -->
                    
                    <tr th:each="ability, itemStat : *{abilityList}">
                      <td><p th:text="*{abilityList[__${itemStat.index}__].id}"></p>
                        <input hidden th:field="*{abilityList[__${itemStat.index}__].id}"></input>
                      </td>
                      <td><p th:text="*{abilityList[__${itemStat.index}__].Picture}"></p>
                        <input hidden th:field="*{abilityList[__${itemStat.index}__].Picture}"></input>
                      </td>
                      <td><p th:text="*{abilityList[__${itemStat.index}__].Name}"></p>
                        <input hidden th:field="*{abilityList[__${itemStat.index}__].Name}"></input>
                      </td>
                      <td><p th:text="*{abilityList[__${itemStat.index}__].Level}"></p>
                        <input hidden th:field="*{abilityList[__${itemStat.index}__].Level}"></input>
                      </td>
                      <td><p th:text="*{abilityList[__${itemStat.index}__].Description}"></p>
                        <input hidden th:field="*{abilityList[__${itemStat.index}__].Description}"></input>
                      </td>
                      <td><p th:text="*{abilityList[__${itemStat.index}__].Price}"></p>
                        <input hidden th:field="*{abilityList[__${itemStat.index}__].Price}"></input>
                      </td>
                      <td><input type="checkbox" th:field="*{abilityList[__${itemStat.index}__].obtained}"></input></td>

                  </tr>
                    </form>
                  
                  
                  
                 </tbody>
              </table>
            
</div>




<script src="../static/js/bootstrap.min.js"></script>
</body>


</html>