<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
                <head>
                        <meta charset="utf-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="${'./css/bootstrap.min.css'}"/>
                        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="${'./css/style.css'}"/>
                        <link rel="icon" href="../static/images/favicon.png" th:href="${'./images/favicon.png'}">
                        <title>Mystery EShop</title>
                    </head>
                    
                    <body onload = "validationAdminButton()">
                        <input type="hidden" id="adminButtonValidator" name="validator" th:text="${isAdmin}"/>
                    
                    <div class="float-right">
                            <a href="./Contacts" ><img class="logo" src="../images/logo.jpg" alt="main page logo" width="500" height="150"/></a>
                        </div>
                    
                    <div class="container" id="top-buttons"> 
                            <div class="row">
                                 <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Welcome'" value="Main" />        
                                 <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Survey'" value="Survey" />
                                 <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Profile'" value="Your Profile" />
                                 <input type="button" class="btn btn-success btn-lg mr-5" onclick="location.href ='./EShop'" value="EShop" />
                                 <input type="button" class="btn btn-danger btn-lg mr-5" disabled onclick="location.href ='./Admin'" value="Admin" id="AdminButton" />
                            </div>
                    </div>
                    
<div class="container">
    <h1><strong>Mystery EShop v0.5</strong></h1>
    <h2 th:text=${#temporals.format(todayDate)}></h2> <br>
    <h3> Welcome to my home project page. This web is created for studing purposes. <br><br>
        The main idea is to create a non-standard e-shop where people will be able to
        "buy" abilities and skill they would like to have. But it's not always about the money we have, but about the time. So this web would help us to estimate the time which is left
        and show us how to spend it reasonably.</h3>
</div>




<script src="./js/bootstrap.min.js"></script>
<script th:src="${'./js/myscript.js'}" ></script>
<script src="../static/js/myscript.js"></script>
</body>


</html>