<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
                <head>
                        <meta charset="utf-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="${'./css/bootstrap.min.css'}"/>
                        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="${'./css/style.css'}"/>
                        <link rel="icon" href="../static/images/favicon.png" th:href="${'./images/favicon.png'}">
                        <title>Mystery EShop</title>
                    </head>
                    
                    <body>
                    
                    <div class="float-right">
                            <a href="./Contacts" ><img class="logo" src="../images/logo.jpg" alt="main page logo" width="500" height="150"/></a>
                        </div>
                    
                    <div class="container" id="top-buttons"> 
                            <div class="row">
                                 <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Welcome'" value="Main" />        
                                 <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Survey'" value="Survey" />
                                 <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Profile'" value="Your Profile" />
                                 <input type="button" class="btn btn-success btn-lg mr-5" onclick="location.href ='./EShop'" value="EShop" />
                                 <input type="button" class="btn btn-danger btn-lg mr-5" disabled onclick="location.href ='./Admin'" value="Admin" id="AdminButton" />
                            </div>
                    </div>
                    
<div class="container">
    <h1>Preview Page</h1>
    <h2 th:text=${#temporals.format(todayDate)}></h2>
    <h3> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut tempus purus at lorem. Nulla non lectus sed nisl molestie malesuada. Mauris dictum facilisis augue. Nullam sit amet magna in magna gravida vehicula. Etiam posuere lacus quis dolor. Vivamus luctus egestas leo. Integer pellentesque quam vel velit. Nunc auctor. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Fusce wisi.
         Maecenas libero. Mauris elementum mauris vitae tortor. Fusce wisi. Mauris tincidunt sem sed arcu. In convallis. Praesent in mauris eu tortor porttitor accumsan. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Aliquam erat volutpat. Nulla pulvinar eleifend sem. Maecenas aliquet accumsan leo. Duis viverra diam non justo. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Vivamus luctus egestas leo. Sed ac dolor sit amet purus malesuada congue. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Praesent in mauris eu tortor porttitor accumsan. 
    </h3>
    
</div>



<script src="../static/js/myscript.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>


</html>