<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
                <head>
                        <meta charset="utf-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                        <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"/>
                        <link rel="stylesheet" type="text/css" href="./css/style.css"/>
                        <link rel="icon" href="../static/images/favicon.png" th:href="${'./images/favicon.png'}">
                        <title>Mystery EShop</title>
                    </head>
                    
                    <body>
                    
                    <div class="float-right">
                            <a href="./Contacts" ><img class="logo" src="../images/logo.jpg" alt="main page logo" width="500" height="150"/></a>
                        </div>
                    
                        <div class="container" id="top-buttons"> 
                            <div class="row">
                                 <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Welcome'" value="Main" />        
                                 <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Survey'" value="Survey" />
                                 <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Profile'" value="Your Profile" />
                                 <input type="button" class="btn btn-success btn-lg mr-5" onclick="location.href ='./EShop'" value="EShop" />
                                 <input type="button" class="btn btn-danger btn-lg mr-5" disabled onclick="location.href ='./Admin'" value="Admin" />
                            </div>
                    </div>

                    <div class="container">
                        <h2 th:text="${playerName}">Nameless</h2>
                    </div>

<div class="container">
        <table class="table table-hover table-primary">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Order</th>
                  </tr>
                </thead>
                <tbody>
                     <tr th:each="ability, counter : ${abilities}">
                        <td  th:text="${counter.index + 1}">1</td> 
                        <td th:text="${ability.Picture}">picture.jpg</td>
                        <td th:text="${ability.Name}">Ability name</td>
                        <td th:text="${ability.Description}">Description of an ability</td>
                        <td th:text="${ability.Price}">12h</td>
                        
                    </tr>
                   
                  
                  
                  
                </tbody>
              </table>
    
</div>




<script src="../static/js/bootstrap.min.js"></script>
</body>


</html>