<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="${'./css/bootstrap.min.css'}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="${'./css/style.css'}"/>
<link rel="icon" href="../static/images/favicon.png" th:href="${'./images/favicon.png'}">
    <title>Mystery EShop</title>
</head>

<body>

<div class="float-right">
        <a href="./Contacts" ><img class="logo" src="./images/logo.jpg" alt="main page logo" width="500" height="150"/></a>
    </div>

    <div class="container" id="top-buttons"> 
                <div class="row">
                     <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Welcome'" value="Main" />        
                     <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Survey'" value="Survey" />
                     <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Profile'" value="Your Profile" />
                     <input type="button" class="btn btn-success btn-lg mr-5" onclick="location.href ='./EShop'" value="EShop" />
                     <input type="button" class="btn btn-danger btn-lg mr-5" disabled onclick="location.href ='./Admin'" value="Admin" />
                </div>
        </div>


<div class="container">
    <table class="table table-hover table-primary">
            <thead>
              <tr>
                <th scope="col" class="align-middle">#</th>
                <th scope="col" class="align-middle">Id</th>
                <th scope="col" class="align-middle">Name</th>
                <th scope="col" class="align-middle">Age</th>
                <th scope="col" class="align-middle">Gender</th>
                <th scope="col" class="align-middle">Smoking</th>
                <th scope="col" class="align-middle">Alcohol</th>
                <th scope="col" class="align-middle text-center">Nutrition Type</th>
                <th scope="col" class="align-middle text-center">Sleeping hours <br> (per day)</th>
                <th scope="col" class="align-middle text-center">Sport activity hours <br> (per week)</th>
                <th scope="col" class="align-middle text-center">Is person in Love</th>
              </tr>
            </thead>
            <tbody>
                 <tr th:each="profile, counter: ${profiles}">
                    <td class="align-middle text-center" th:text="${counter.index + 1}">1</td>
                    <td class="align-middle text-center" th:text="${profile.playerId}">1234</td> 
                    <td class="align-middle text-center" th:text="${profile.playerName}">Robert</td> 
                    <td class="align-middle text-center" th:text="${profile.playerAge}">33</td>
                    <td class="align-middle text-center" th:text="${profile.genderMale}">Male</td>
                    <td class="align-middle text-center" th:text="${profile.smoking}">No</td>
                    <td class="align-middle text-center" th:text="${profile.alcohol}">Yes</td>
                    <td class="align-middle text-center" th:text="${profile.nutritionType}">MeatEater</td>
                    <td class="align-middle text-center" th:text="${profile.sleepingHours}">8</td>
                    <td class="align-middle text-center" th:text="${profile.sportActivity}">5</td>
                    <td class="align-middle text-center" th:text="${profile.inLove}">Yes</td>
                    
                </tr>
               
              
              
              
            </tbody>
          </table>

</div>


<script src="../static/js/bootstrap.min.js"></script>
</body>


</html>