<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
                <head>
                        <meta charset="utf-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="${'./css/bootstrap.min.css'}"/>
                        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="${'./css/style.css'}"/>
                        <link rel="icon" href="../static/images/favicon.png" th:href="${'./images/favicon.png'}">
                        <title>Mystery EShop</title>
                    </head>
                    
                    <body onload = "authorizationError()">
                        <input type="hidden" id="adminButtonValidator" name="validator" th:value="${isAdmin}"/>
                    
                    <div class="float-right">
                           <img class="logo" th:src="${'./images/logo.jpg'}" src="../static/images/logo.jpg" alt="main page logo" width="500" height="150"/>
                        </div>
                    
                    <div class="container" id="top-buttons"> 
                            <div class="row">
                                 <input type="button" class="btn btn-primary btn-lg mr-5" disabled onclick="location.href ='./Welcome'" value="Main" />        
                                 <input type="button" class="btn btn-primary btn-lg mr-5" disabled onclick="location.href ='./Survey'" value="Survey" />
                                 <input type="button" class="btn btn-primary btn-lg mr-5" disabled onclick="location.href ='./Profile'" value="Your Profile" />
                                 <input type="button" class="btn btn-success btn-lg mr-5" disabled onclick="location.href ='./EShop'" value="EShop" />
                                 <input type="button" class="btn btn-danger btn-lg mr-5" disabled onclick="location.href ='./Admin'" value="Admin" />
                            </div>
                    </div>
                    <br>
                    <br>
                
                    <div class="container">
                
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <h1>Registration</h1>
                                <form th:object="${user}" th:action="@{/Registration}" method="post">
                                    <div style="display: none" id="invalidLoginNotification">
                                        <div class="alert alert-danger">User already exists!</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="username"> New User</label>: <input type="text"
                                            id="username" name="login" class="form-control"
                                            autofocus="autofocus" placeholder="Username" />
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Your password</label>: <input onkeyup="registrationError()" type="password" required minlength="5" maxlength="21"
                                            id="password" name="password" class="form-control"
                                            placeholder="Enter your password here..." />
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Repeat your password</label>: <input id ="confirm_password" onkeyup="registrationError()" type="password"
                                            class="form-control"/>
                                            <span id='message'></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <div class="d-flex" >
                                                <input type="submit" name="signup-submit" id="signup-submit" 
                                                    class="form-control btn btn-primary" value="Sign up" style="margin-right:20px" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                
                
                    </div>
                
                    <script type="text/javascript" th:src="@{./js/bootstrap.min.js}"></script>
                    <script type="text/javascript" th:src="${'./js/jquery-3.4.1.min.js'}"></script>
                    <script th:src="${'./js/myscript.js'}" ></script>
                    <script src="../static/js/myscript.js"></script>

</html>