<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
                <head>
                        <meta charset="utf-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="${'./css/bootstrap.min.css'}"/>
                        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="${'./css/style.css'}"/>
                        <link rel="icon" href="../static/images/favicon.png" th:href="${'./images/favicon.png'}">
                        <title>Mystery EShop</title>
                    </head>
                    
                    <body>
                    
                    <div class="float-right">
                            <a href="./Contacts" ><img class="logo" src="../images/logo.jpg" alt="main page logo" width="500" height="150"/></a>
                        </div>
                    
                        <div class="container" id="top-buttons"> 
                            <div class="row">
                                 <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Welcome'" value="Main" />        
                                 <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Survey'" value="Survey" />
                                 <input type="button" class="btn btn-primary btn-lg mr-5" onclick="location.href ='./Profile'" value="Your Profile" />
                                 <input type="button" class="btn btn-success btn-lg mr-5" onclick="location.href ='./EShop'" value="EShop" />
                                 <input type="button" class="btn btn-danger btn-lg mr-5" disabled onclick="location.href ='./Admin'" value="Admin" />
                            </div>
                    </div>
                    
<div class="container w-50 p-1" >
  <form th:object="${profile}" method="post">

      
        
        <div class="row d-flex justify-content-center"> <h2 class="mb-2 py-2 font-weight-bold "> Your profile</h2></div>
        <table class="table  table-primary">
                  
                  <tr>
                    <td>Name:</td>
                    <td><input name="playerName" type="text" required minlength="2" maxlength="21" /></td>
                  </tr>
                  <tr>
                      <td>Age:</td>
                      <td><input name="playerAge" type="number" required  min="10" max="99"/></td>
                  </tr>
                  <tr>
                      <td>Gender: </td>
                      <td><div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio"  name="gender" id="Radios1" value="Male" checked>
                          <label class="form-check-label" for="Radios1">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="gender" id="Radios2" value="Female">
                          <label class="form-check-label" for="Radios2">Female</label>
                        </div></td>
                  </tr>
                  <tr>
                      <td>Do you smoke?</td>
                      <td><input name="smoking" type="checkbox"/></td>
                  </tr>
                  <tr>
                      <td>Do you drink alcohol?</td>
                      <td><input name="alcohol" type="checkbox"/></td>
                  </tr>
                  <tr>
                      <td>How many hours do you sleep per day?</td>
                      <td><input name="sleepingHours" type="number" required min="1" max="24" /></td>
                  </tr>
                  <tr>
                      <td>How many hours do you sport per week?</td>
                      <td><input name="sportActivity" type="number" required min="0" max="161"/></td>
                  </tr>
                  <tr>
                      <td>Are you in Love?</td>
                      <td><input name="inLove" type="checkbox"/></td>
                  </tr>
                  <tr>
                      <td>Nutrition:</td>
                      <td><select required pattern="MeatEater|Vegetarian|Vegan|Raw Vegan" name="nutritionType">
                          <option selected disabled hidden></option>
                          <option value="MeatEater">MeatEater</option>
                          <option value="Vegetarian">Vegetarian</option>
                          <option value="Vegan">Vegan</option>
                          <option value="Raw Vegan">Raw Vegan</option>
                        </select>
                        </td>
                    </tr>

                  
  
                
              </table>
              <input class="btn btn-success btn-block btn-rounded z-depth-1" type="submit" value="Send"/>
            </form>
    
</div>




<script src="../static/js/bootstrap.min.js"></script>
</body>


</html>